Importation des deux bibliothèques pandas et numpy

In [3]:
import pandas as pd
import numpy as np

# Challenge 1 : Création et exploration d’un DataFrame

La structure du dataframe correspondant est: 
Le type de la colonne Nom est 'object'
Le type de la colonne Age est 'float64'
Le type de la colonne Ville est 'object'
L'output montre la moyenne, minimum, maximum, ecart type, etc... Et ceci est pour les colonnes numériques

In [54]:
df= pd.DataFrame({'Nom':['Amine','Lina','Youssef','Salma','Nora'],'Age':[25,22,35,30,np.nan],'Ville':['Casa','Rabat','Fes','Casa','Tanger']})
print(df)
print(df.head(5))
print(df.info())
print(df.describe())

       Nom   Age   Ville
0    Amine  25.0    Casa
1     Lina  22.0   Rabat
2  Youssef  35.0     Fes
3    Salma  30.0    Casa
4     Nora   NaN  Tanger
       Nom   Age   Ville
0    Amine  25.0    Casa
1     Lina  22.0   Rabat
2  Youssef  35.0     Fes
3    Salma  30.0    Casa
4     Nora   NaN  Tanger
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nom     5 non-null      object
 1   Age     4 non-null      float64
 2   Ville   5 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes
None
             Age
count   4.000000
mean   28.000000
std     5.715476
min    22.000000
25%    24.250000
50%    27.500000
75%    31.250000
max    35.000000

Challenge 2 : Sélection et filtrage de données

In [56]:
print(df['Ville'])
print(df[df['Age']>25])
print("Les nom des personnes de Casa sont :\n ", df[df['Ville']=='Casa'][['Nom','Ville']])

0      Casa
1     Rabat
2       Fes
3      Casa
4    Tanger
Name: Ville, dtype: object
       Nom   Age Ville
2  Youssef  35.0   Fes
3    Salma  30.0  Casa
Les nom des personnes de Casa sont :
       Nom Ville
0  Amine  Casa
3  Salma  Casa

Challenge 3 : Ajout et modification de colonnes

In [50]:
df['Naissance']=2025-df['Age']
print(df)
df['Nom']=df['Nom'].str.upper()
print(df)
df.rename(columns={'Ville':'Localisation'},inplace=True)
print(df)

       Nom   Age Localisation  Naissance
0    AMINE  25.0         Casa     2000.0
1     LINA  22.0        Rabat     2003.0
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA   NaN       Tanger        NaN
       Nom   Age Localisation  Naissance
0    AMINE  25.0         Casa     2000.0
1     LINA  22.0        Rabat     2003.0
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA   NaN       Tanger        NaN
       Nom   Age Localisation  Naissance
0    AMINE  25.0         Casa     2000.0
1     LINA  22.0        Rabat     2003.0
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA   NaN       Tanger        NaN

Challenge 4 : Gestion des valeurs manquantes

In [ ]:
print(df.isnull().sum())
df.Age=df.Age.fillna(df.Age.mean())
df.Naissance=2025-df.Age
print(df)

Nom             0
Age             1
Localisation    0
Naissance       1
dtype: int64
       Nom   Age Localisation  Naissance
0    AMINE  25.0         Casa     2000.0
1     LINA  22.0        Rabat     2003.0
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA  28.0       Tanger     1997.0

Challenge 5 : Tri et suppression

In [52]:
df_sorted=df.sort_values(by='Age', ascending=False)
print(df_sorted)
#df.drop(columns=['Naissance'], inplace=True)
df.drop(index=1, inplace=True)
print(df)

       Nom   Age Localisation  Naissance
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA  28.0       Tanger     1997.0
0    AMINE  25.0         Casa     2000.0
1     LINA  22.0        Rabat     2003.0
       Nom   Age Localisation  Naissance
0    AMINE  25.0         Casa     2000.0
2  YOUSSEF  35.0          Fes     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA  28.0       Tanger     1997.0