Importation des bibliothèques pandas et numpy

#Partie 1 : Chargement et exploration du dataset

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('employees2 (1).csv')
print(df)
print(df.head(5))
print(df.info())
print(df.isnull().sum())

    Unnamed: 0   ID     Name   Age   Salary Department  Years_Experience  \
0            0    1  Othmane   NaN      NaN         IT                 0
1            1    2    Ikram  22.0      NaN         HR                23
2            2    3      Bob   NaN      NaN         HR                26
3            3    4    Zineb  59.0  73665.0         HR                 3
4            4    5    David  57.0  59325.0    Finance                33
..         ...  ...      ...   ...      ...        ...               ...
95          95   96      Bob   NaN  82670.0  Marketing                21
96          96   97      Eva   NaN  59838.0    Finance                12
97          97   98   Nassim   NaN  45811.0    Finance                14
98          98   99   Nassim  42.0  73800.0  Marketing                13
99          99  100  Othmane  32.0      NaN  Marketing                19

   Remote
0     Yes
1     Yes
2     Yes
3      No
4      No
..    ...
95    Yes
96     No
97    Yes
98    Yes
99    Yes

[100 rows x 8 columns]
   Unnamed: 0  ID     Name   Age   Salary Department  Years_Experience Remote
0           0   1  Othmane   NaN      NaN         IT                 0    Yes
1           1   2    Ikram  22.0      NaN         HR                23    Yes
2           2   3      Bob   NaN      NaN         HR                26    Yes
3           3   4    Zineb  59.0  73665.0         HR                 3     No
4           4   5    David  57.0  59325.0    Finance                33     No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        100 non-null    int64
 1   ID                100 non-null    int64
 2   Name              100 non-null    object
 3   Age               51 non-null     float64
 4   Salary            56 non-null     float64
 5   Department        100 non-null    object
 6   Years_Experience  100 non-null    int64
 7   Remote            100 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 6.4+ KB
None
Unnamed: 0           0
ID                   0
Name                 0
Age                 49
Salary              44
Department           0
Years_Experience     0
Remote               0
dtype: int64

# Partie 2 : Nettoyage des données

In [3]:
df.Age=df.Age.fillna(df.Age.median())
df=df.sort_values(by='Department')
df['Salary']=df['Salary'].fillna(df.groupby('Department')['Salary'].transform('mean'))
print(df)

#df.Salary=df.Salary.fillna(df.Salary.mean())
#print(df.isnull().sum())

    Unnamed: 0   ID     Name   Age        Salary Department  Years_Experience  \
65          65   66    Alice  45.0  45959.000000    Finance                10
34          34   35   Nassim  45.0  57836.583333    Finance                35
29          29   30    Hamza  50.0  57836.583333    Finance                11
81          81   82    Jalil  32.0  64684.000000    Finance                22
25          25   26    David  45.0  83996.000000    Finance                30
..         ...  ...      ...   ...           ...        ...               ...
69          69   70    Jalil  59.0  70395.153846  Marketing                33
52          52   53      Bob  45.0  70395.153846  Marketing                34
59          59   60      Bob  59.0  70395.153846  Marketing                 7
86          86   87  Charlie  56.0  70395.153846  Marketing                29
99          99  100  Othmane  32.0  70395.153846  Marketing                19

   Remote
65     No
34    Yes
29    Yes
81     No
25     No
..    ...
69    Yes
52    Yes
59    Yes
86    Yes
99    Yes

[100 rows x 8 columns]

In [4]:
df.ID=df.ID.astype(int)
df['Salary']=df['Salary'].astype(float)
df.Age=df.Age.astype(int)
df.Years_Experience=df.Years_Experience.astype(int)

In [5]:
df['Remote'].replace({'Yes': 'Oui', 'No': 'Non'}, inplace=True)
print(df)

    Unnamed: 0   ID     Name  Age        Salary Department  Years_Experience  \
65          65   66    Alice   45  45959.000000    Finance                10
34          34   35   Nassim   45  57836.583333    Finance                35
29          29   30    Hamza   50  57836.583333    Finance                11
81          81   82    Jalil   32  64684.000000    Finance                22
25          25   26    David   45  83996.000000    Finance                30
..         ...  ...      ...  ...           ...        ...               ...
69          69   70    Jalil   59  70395.153846  Marketing                33
52          52   53      Bob   45  70395.153846  Marketing                34
59          59   60      Bob   59  70395.153846  Marketing                 7
86          86   87  Charlie   56  70395.153846  Marketing                29
99          99  100  Othmane   32  70395.153846  Marketing                19

   Remote
65    Non
34    Oui
29    Oui
81    Non
25    Non
..    ...
69    Oui
52    Oui
59    Oui
86    Oui
99    Oui

[100 rows x 8 columns]

C:\Users\Infinix\AppData\Local\Temp\ipykernel_4400\2829823100.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Remote'].replace({'Yes': 'Oui', 'No': 'Non'}, inplace=True)

In [5]:
df['Ancienneté_Catégorie']=df['Years_Experience'].apply(lambda x: 'Junior' if x < 3 else ('Intermédiaire' if 3<x < 7 else ('Senior'if 8<x<15 else 'Expert')))
print(df)

    Unnamed: 0   ID     Name  Age        Salary Department  Years_Experience  \
65          65   66    Alice   45  45959.000000    Finance                10
34          34   35   Nassim   45  57836.583333    Finance                35
29          29   30    Hamza   50  57836.583333    Finance                11
81          81   82    Jalil   32  64684.000000    Finance                22
25          25   26    David   45  83996.000000    Finance                30
..         ...  ...      ...  ...           ...        ...               ...
69          69   70    Jalil   59  70395.153846  Marketing                33
52          52   53      Bob   45  70395.153846  Marketing                34
59          59   60      Bob   59  70395.153846  Marketing                 7
86          86   87  Charlie   56  70395.153846  Marketing                29
99          99  100  Othmane   32  70395.153846  Marketing                19

   Remote Ancienneté_Catégorie
65     No               Senior
34    Yes               Expert
29    Yes               Senior
81     No               Expert
25     No               Expert
..    ...                  ...
69    Yes               Expert
52    Yes               Expert
59    Yes               Expert
86    Yes               Expert
99    Yes               Expert

[100 rows x 9 columns]

# Partie 3 : Analyses exploratoires et statistiques

In [6]:
sal_moyen= df['Salary'].mean()
print(f"Le salaire moyen globale est de {sal_moyen:.2f} ")

Le salaire moyen globale est de 64504.14

In [7]:
sal_plus=df.Salary.max()
employe_plus=df.loc[df['Salary']== sal_plus,'Name']
print(f"L'employé avec le salaire le plus élevé est {employe_plus.values[0]} ")
print(f"Le salaire le plus élevé est de {sal_plus:.2f} ")

L'employé avec le salaire le plus élevé est Jalil
Le salaire le plus élevé est de 84685.00

In [8]:
df1=df.groupby('Ancienneté_Catégorie')['Salary'].agg(['mean','median'])
print(df1)

                              mean     median
Ancienneté_Catégorie
Expert                64486.634333  64441.875
Intermédiaire         66063.812963  64107.000
Junior                61558.030769  69930.000
Senior                64608.816168  67237.375

In [9]:
tele_travaille= df[df['Remote'] == 'Oui'].groupby('Department').size()
non_tele_travaille= df[df['Remote'] == 'Non'].groupby('Department').size()
print("Nombre d'employés travaillant à distance par département :")
print(tele_travaille)
print("Nombre d'employés ne travaillant pas à distance par département :")
print(non_tele_travaille)

Nombre d'employés travaillant à distance par département :
Series([], dtype: int64)
Nombre d'employés ne travaillant pas à distance par département :
Series([], dtype: int64)

# Partie 4 : Tableaux croisés dynamiques (pivot tables)

In [10]:
df4=df.pivot_table(values='Salary',index='Department',columns='Remote',aggfunc='mean')
print("Tableau croisé dynamique des salaires moyens par département et travail à distance :")
print(df4)

Tableau croisé dynamique des salaires moyens par département et travail à distance :
Remote                No           Yes
Department
Finance     60964.762821  52027.107143
HR          62817.608889  60323.723077
IT          65695.000000  71341.666667
Logistics   65080.750000  64075.750000
Marketing   69812.538462  70621.726496

In [11]:
nbre_moyen_années_exp=df.pivot_table(values='Years_Experience',index='Department',columns='Age',aggfunc='mean')
print("Tableau croisé dynamique des années d'expérience moyennes par département et âge :")
print('\n')
print(nbre_moyen_années_exp)

Tableau croisé dynamique des années d'expérience moyennes par département et âge :


Age           22    23    25    26    27    29    30    31    32    33  ...  \
Department                                                              ...
Finance      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.5  33.0  ...
HR          23.0  21.0   NaN  24.0   NaN   NaN   NaN  27.0   NaN   NaN  ...
IT           NaN   NaN   NaN   NaN  16.0  10.0   NaN   NaN   NaN   NaN  ...
Logistics    NaN   NaN   NaN   NaN   NaN  19.0  27.5   NaN   6.0   NaN  ...
Marketing    NaN   NaN  19.0   NaN  17.0   NaN   NaN   NaN  19.0   NaN  ...

Age           48    50    51    52    53    55         56    57    58    59
Department
Finance      NaN  11.0   NaN   6.0   NaN   NaN        NaN  33.0   NaN   NaN
HR          14.0   NaN  20.0   NaN  31.5  23.5  19.000000   NaN   NaN   3.0
IT           NaN   NaN   NaN  26.0   NaN   NaN        NaN   NaN  17.0   NaN
Logistics    NaN   NaN   NaN  19.0   NaN   NaN        NaN  10.0  31.0   NaN
Marketing    NaN   NaN   NaN  12.0  20.0   NaN  22.333333   NaN   NaN  20.0

[5 rows x 27 columns]

# Partie 5 : Calculs avancés avec NumPy

Méthode 1 pour pour créer une colonne Performance :
"Bon" si Salaire < 60000
"Moyen" si 60000 ≤ Salaire < 80000
"Haut" si Salaire ≥ 80000

In [ ]:
'''
df['Performance']=df.Salary.apply(lambda x : 'Bon' if x<6000 else ('Moyen' if 6000<=x<8000 else 'Haut'))
print("Catégorie de performance des employés :")
print(df[['Name', 'Performance']])
'''

'\ndf[\'Performance\']=df.Salary.apply(lambda x : \'Bon\' if x<6000 else (\'Moyen\' if 6000<=x<8000 else \'Haut\'))\nprint("Catégorie de performance des employés :")\nprint(df[[\'Name\', \'Performance\']])\n'

Méthode 2 pour pour créer une colonne Performance :
"Bon" si Salaire < 60000
"Moyen" si 60000 ≤ Salaire < 80000
"Haut" si Salaire ≥ 80000

In [12]:
df['Performance']=np.where(df['Salary']<6000,'Bon',np.where(df['Salary'] <8000,'Moyen','Haut'))
print("Catégorie de performance des employés :")
print(df[['Name', 'Performance']])

Catégorie de performance des employés :
       Name Performance
65    Alice        Haut
34   Nassim        Haut
29    Hamza        Haut
81    Jalil        Haut
25    David        Haut
..      ...         ...
69    Jalil        Haut
52      Bob        Haut
59      Bob        Haut
86  Charlie        Haut
99  Othmane        Haut

[100 rows x 2 columns]

In [14]:
Conditions=[(df.Years_Experience<5) & (df.Age<30), (df.Years_Experience>=5 )& (df.Age<30), (df.Years_Experience<5) & (df.Age>=30), (df.Years_Experience>=5) & (df.Age>=30)]
Valeurs=['Jeune & Nouveau', 'Jeune & Expérimenté', 'Senior & Nouveau', 'Senior & Expérimenté']
df['Catégorie']=np.select(Conditions, Valeurs, default='Autre')
print("Catégorie des employés en fonction de l'expérience et de l'âge :")       
print(df[['Name', 'Catégorie']])

Catégorie des employés en fonction de l'expérience et de l'âge :
       Name             Catégorie
65    Alice  Senior & Expérimenté
34   Nassim  Senior & Expérimenté
29    Hamza  Senior & Expérimenté
81    Jalil  Senior & Expérimenté
25    David  Senior & Expérimenté
..      ...                   ...
69    Jalil  Senior & Expérimenté
52      Bob  Senior & Expérimenté
59      Bob  Senior & Expérimenté
86  Charlie  Senior & Expérimenté
99  Othmane  Senior & Expérimenté

[100 rows x 2 columns]

### Calculer le salaire moyen par département

In [15]:

salaire_moyen_departement = df.groupby('Department')['Salary'].mean()
print("Salaire moyen par département :")
print(salaire_moyen_departement)

Salaire moyen par département :
Department
Finance      57836.583333
HR           61659.733333
IT           69930.000000
Logistics    64544.750000
Marketing    70395.153846
Name: Salary, dtype: float64

### Calculer la différence entre le salaire de chaque employé et le salaire moyen de son département

In [18]:
df['Ecart_Salaire_Departement'] = df['Department'].map(salaire_moyen_departement) - df['Salary']
print(df[['Name', 'Department', 'Salary', 'Ecart_Salaire_Departement']])

       Name Department        Salary  Ecart_Salaire_Departement
65    Alice    Finance  45959.000000               11877.583333
34   Nassim    Finance  57836.583333                   0.000000
29    Hamza    Finance  57836.583333                   0.000000
81    Jalil    Finance  64684.000000               -6847.416667
25    David    Finance  83996.000000              -26159.416667
..      ...        ...           ...                        ...
69    Jalil  Marketing  70395.153846                   0.000000
52      Bob  Marketing  70395.153846                   0.000000
59      Bob  Marketing  70395.153846                   0.000000
86  Charlie  Marketing  70395.153846                   0.000000
99  Othmane  Marketing  70395.153846                   0.000000

[100 rows x 4 columns]