## Challenge 1 : Préparation de l’environnement & connexion à PostgreSQL

Importer les bibliothèques: sqlalchemy, psycopg2, python-dotenv

In [27]:
import sqlalchemy as sa
import psycopg2 as pg 
from dotenv import load_dotenv
import os   
from sqlalchemy import create_engine , text
from sqlalchemy import Table, Column, Integer, String, Float, DateTime, MetaData, ForeignKey
from sqlalchemy import insert

### Écrire un script Python qui lit le .env, crée un engine SQLAlchemy et teste la connexion en affichant la version PostgreSQL.

Charger le fichier .env

In [28]:
load_dotenv()

True

Lire les variables du .env et créer l'URL du data base.

In [29]:

db_host = os.getenv("db_host")
db_port= os.getenv("db_port")      
db_user = os.getenv("db_user")
db_password = os.getenv("db_password")  
db_name = os.getenv("db_name")
db_URL= f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

Créer un engine SQLAlchemy .

In [30]:
engine=create_engine(db_URL)

## Challenge 2 : Création des tables principales

Créer la table clients : client_id (PK), first_name, last_name, email, phone_number.

In [31]:
print(db_URL)
metadata = MetaData()
clients= Table("clients", metadata,
           Column("client_id", Integer,primary_key=True,unique=True),
           Column("first_name", String(50)),
           Column("last_name", String(50)),
           Column("email", String(100)),
           Column("phone_number", String(20)))
destinations = Table("destinations", metadata,
    Column("destination_id", Integer, primary_key=True,unique=True),
    Column("name", String),
    Column("country", String),
    Column("price_per_person", Float))

bookings = Table("bookings",metadata,
    Column("booking_id", Integer, primary_key=True,unique=True),
    Column("client_id", Integer, ForeignKey("clients.client_id")),
    Column("destination_id", Integer, ForeignKey("destinations.destination_id")),
    Column("booking_date", DateTime),
    Column("number_of_people", Integer),
    Column("total_price", Float))
booking_items = Table("booking_items", metadata,
    Column("item_id", Integer, primary_key=True), 
    Column("booking_id", Integer, ForeignKey("bookings.booking_id")), 
    Column("destination_id", Integer, ForeignKey("destinations.destination_id")),
    Column("travelers_count", Integer))

metadata.create_all(engine)

postgresql+psycopg2://postgres:azerty123@localhost:5432/Python_SQL

## Challenge 3 : Insertion de données d’exemple

 engine.begin() gère automatiquement la transaction et le commit à la fin.

In [35]:
with engine.begin() as conn:
    conn.execute(insert(clients), [
        {"first_name": "Alice", "last_name": "Martin", "email": "alice@mail.com", "phone_number": "0601010101"},
        {"first_name": "Bob", "last_name": "Dupont", "email": "bob@mail.com", "phone_number": "0602020202"},
        {"first_name": "Claire", "last_name": "Dubois", "email": "claire@mail.com", "phone_number": "0603030303"},
        {"first_name": "David", "last_name": "Lemoine", "email": "david@mail.com", "phone_number": "0604040404"},
        {"first_name": "Emma", "last_name": "Girard", "email": "emma@mail.com", "phone_number": "0605050505"}
    ])

In [36]:
with engine.begin() as conn:
    conn.execute(insert(destinations), [
        {"name": "Paris", "country": "France", "price_per_person": 200.0},
        {"name": "New York", "country": "USA", "price_per_person": 500.0},
        {"name": "Tokyo", "country": "Japan", "price_per_person": 800.0},
        {"name": "Sydney", "country": "Australia", "price_per_person": 600.0},
        {"name": "Cape Town", "country": "South Africa", "price_per_person": 700.0}
    ])

In [ ]:
with engine.begin() as conn:
    conn.execute(insert(bookings), [
        {"client_id": 6, "destination_id": 1, "booking_date": "2023-10-01", "number_of_people": 2, "total_price": 400.0},
        {"client_id": 8, "destination_id": 2, "booking_date": "2023-10-02", "number_of_people": 1, "total_price": 500.0},
        {"client_id": 9, "destination_id": 3, "booking_date": "2023-10-03", "number_of_people": 4, "total_price": 3200.0}
    ])

In [41]:
with engine.begin() as conn:
    conn.execute(insert(booking_items), [
        {"booking_id": 7, "destination_id": 1, "travelers_count": 2},
        {"booking_id": 9, "destination_id": 2, "travelers_count": 1 },
        {"booking_id": 8, "destination_id": 3, "travelers_count": 4} 
    ])

## Challenge 5 : Requête simple

Afficher tous les clients (first_name, email, phone_number).

In [42]:
from sqlalchemy import select
with engine.connect() as conn:
    result = conn.execute(select(clients))
    for row in result:
        print(row)

(6, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(7, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(8, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(9, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(10, 'Emma', 'Girard', 'emma@mail.com', '0605050505')

On met .c pour dire à l'engine qu'il doit entrer dans la colonne spécifique.

In [47]:
with engine.connect() as connection:
    result1=connection.execute(select(destinations).where(destinations.c.price_per_person > 100))
    for row in result1:
        print(row)

(1, 'Paris', 'France', 200.0)
(2, 'New York', 'USA', 500.0)
(3, 'Tokyo', 'Japan', 800.0)
(4, 'Sydney', 'Australia', 600.0)
(5, 'Cape Town', 'South Africa', 700.0)

## Challenge 6 : Requête avec jointure

Afficher toutes les réservations avec :
Le nom du client

La destination choisie

Le nombre de voyageurs

Le prix par personne

first_name in clients
destination  in destination
travelers count in booking items
price_per_personne in destination

In [53]:
with engine.connect() as conn:
    result2= conn.execute(select(clients.c.first_name,destinations.c.name,booking_items.c.travelers_count,destinations.c.price_per_person).select_from(clients.join(
        bookings, bookings.c.client_id == clients.c.client_id)))
    for row in result2:
        print(row)

('Alice', 'Cape Town', 2, 700.0)
('Alice', 'Sydney', 2, 600.0)
('Alice', 'Tokyo', 2, 800.0)
('Alice', 'New York', 2, 500.0)
('Alice', 'Paris', 2, 200.0)
('Claire', 'Cape Town', 2, 700.0)
('Claire', 'Sydney', 2, 600.0)
('Claire', 'Tokyo', 2, 800.0)
('Claire', 'New York', 2, 500.0)
('Claire', 'Paris', 2, 200.0)
('Alice', 'Cape Town', 1, 700.0)
('Alice', 'Sydney', 1, 600.0)
('Alice', 'Tokyo', 1, 800.0)
('Alice', 'New York', 1, 500.0)
('Alice', 'Paris', 1, 200.0)
('Claire', 'Cape Town', 1, 700.0)
('Claire', 'Sydney', 1, 600.0)
('Claire', 'Tokyo', 1, 800.0)
('Claire', 'New York', 1, 500.0)
('Claire', 'Paris', 1, 200.0)
('Alice', 'Cape Town', 4, 700.0)
('Alice', 'Sydney', 4, 600.0)
('Alice', 'Tokyo', 4, 800.0)
('Alice', 'New York', 4, 500.0)
('Alice', 'Paris', 4, 200.0)
('Claire', 'Cape Town', 4, 700.0)
('Claire', 'Sydney', 4, 600.0)
('Claire', 'Tokyo', 4, 800.0)
('Claire', 'New York', 4, 500.0)
('Claire', 'Paris', 4, 200.0)
('David', 'Cape Town', 2, 700.0)
('David', 'Sydney', 2, 600.0)
('David', 'Tokyo', 2, 800.0)
('David', 'New York', 2, 500.0)
('David', 'Paris', 2, 200.0)
('David', 'Cape Town', 1, 700.0)
('David', 'Sydney', 1, 600.0)
('David', 'Tokyo', 1, 800.0)
('David', 'New York', 1, 500.0)
('David', 'Paris', 1, 200.0)
('David', 'Cape Town', 4, 700.0)
('David', 'Sydney', 4, 600.0)
('David', 'Tokyo', 4, 800.0)
('David', 'New York', 4, 500.0)
('David', 'Paris', 4, 200.0)

## Challenge 7 : Mise à jour de données

Mettre à jour l’adresse e-mail d’un client avec un client_id donné.