## Challenge 1 : Préparation de l’environnement & connexion à PostgreSQL

Importer les bibliothèques: sqlalchemy, psycopg2, python-dotenv

In [89]:
import sqlalchemy as sa
import psycopg2 as pg 
from dotenv import load_dotenv
import os   
from sqlalchemy import create_engine , text
from sqlalchemy import Table, Column, Integer, String, Float, DateTime, MetaData, ForeignKey, update
from sqlalchemy import insert

### Écrire un script Python qui lit le .env, crée un engine SQLAlchemy et teste la connexion en affichant la version PostgreSQL.

Charger le fichier .env

In [90]:
load_dotenv()

True

Lire les variables du .env et créer l'URL du data base.

In [91]:

db_host = os.getenv("db_host")
db_port= os.getenv("db_port")      
db_user = os.getenv("db_user")
db_password = os.getenv("db_password")  
db_name = os.getenv("db_name")
db_URL= f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

Créer un engine SQLAlchemy .

In [92]:
engine=create_engine(db_URL)

## Challenge 2 : Création des tables principales

Créer la table clients : client_id (PK), first_name, last_name, email, phone_number.

In [93]:
print(db_URL)
metadata = MetaData()
clients= Table("clients", metadata,
           Column("client_id", Integer,primary_key=True,unique=True),
           Column("first_name", String(50)),
           Column("last_name", String(50)),
           Column("email", String(100)),
           Column("phone_number", String(20)))
destinations = Table("destinations", metadata,
    Column("destination_id", Integer, primary_key=True,unique=True),
    Column("name", String),
    Column("country", String),
    Column("price_per_person", Float))

bookings = Table("bookings",metadata,
    Column("booking_id", Integer, primary_key=True,unique=True),
    Column("client_id", Integer, ForeignKey("clients.client_id")),
    Column("destination_id", Integer, ForeignKey("destinations.destination_id")),
    Column("booking_date", DateTime),
    Column("number_of_people", Integer),
    Column("total_price", Float))
booking_items = Table("booking_items", metadata,
    Column("item_id", Integer, primary_key=True), 
    Column("booking_id", Integer, ForeignKey("bookings.booking_id")), 
    Column("destination_id", Integer, ForeignKey("destinations.destination_id")),
    Column("travelers_count", Integer))

metadata.create_all(engine)

postgresql+psycopg2://postgres:azerty123@localhost:5432/Python_SQL

## Challenge 3 : Insertion de données d’exemple

 engine.begin() gère automatiquement la transaction et le commit à la fin.

In [94]:
with engine.begin() as conn:
    conn.execute(insert(clients), [
        {"first_name": "Alice", "last_name": "Martin", "email": "alice@mail.com", "phone_number": "0601010101"},
        {"first_name": "Bob", "last_name": "Dupont", "email": "bob@mail.com", "phone_number": "0602020202"},
        {"first_name": "Claire", "last_name": "Dubois", "email": "claire@mail.com", "phone_number": "0603030303"},
        {"first_name": "David", "last_name": "Lemoine", "email": "david@mail.com", "phone_number": "0604040404"},
        {"first_name": "Emma", "last_name": "Girard", "email": "emma@mail.com", "phone_number": "0605050505"}
    ])

In [95]:
with engine.begin() as conn:
    conn.execute(insert(destinations), [
        {"name": "Paris", "country": "France", "price_per_person": 200.0},
        {"name": "New York", "country": "USA", "price_per_person": 500.0},
        {"name": "Tokyo", "country": "Japan", "price_per_person": 800.0},
        {"name": "Sydney", "country": "Australia", "price_per_person": 600.0},
        {"name": "Cape Town", "country": "South Africa", "price_per_person": 700.0}
    ])

In [96]:
with engine.begin() as conn:
    conn.execute(insert(bookings), [
        {"client_id": 6, "destination_id": 1, "booking_date": "2023-10-01", "number_of_people": 2, "total_price": 400.0},
        {"client_id": 8, "destination_id": 2, "booking_date": "2023-10-02", "number_of_people": 1, "total_price": 500.0},
        {"client_id": 9, "destination_id": 3, "booking_date": "2023-10-03", "number_of_people": 4, "total_price": 3200.0}
    ])

In [97]:
with engine.begin() as conn:
    conn.execute(insert(booking_items), [
        {"booking_id": 7, "destination_id": 1, "travelers_count": 2},
        {"booking_id": 9, "destination_id": 2, "travelers_count": 1 },
        {"booking_id": 8, "destination_id": 3, "travelers_count": 4} 
    ])

## Challenge 5 : Requête simple

Afficher tous les clients (first_name, email, phone_number).

In [98]:
from sqlalchemy import select
with engine.connect() as conn:
    result = conn.execute(select(clients))
    for row in result:
        print(row)

(7, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(8, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(9, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(10, 'Emma', 'Girard', 'emma@mail.com', '0605050505')
(11, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(12, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(13, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(14, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(15, 'Emma', 'Girard', 'emma@mail.com', '0605050505')
(16, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(17, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(18, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(19, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(20, 'Emma', 'Girard', 'emma@mail.com', '0605050505')
(21, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(22, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(23, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(24, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(25, 'Emma', 'Girard', 'emma@mail.com', '0605050505')
(6, 'Alice', 'Martin', 'bissam@gmail.com', '0601010101')
(26, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(27, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(28, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(29, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(30, 'Emma', 'Girard', 'emma@mail.com', '0605050505')
(31, 'Alice', 'Martin', 'alice@mail.com', '0601010101')
(32, 'Bob', 'Dupont', 'bob@mail.com', '0602020202')
(33, 'Claire', 'Dubois', 'claire@mail.com', '0603030303')
(34, 'David', 'Lemoine', 'david@mail.com', '0604040404')
(35, 'Emma', 'Girard', 'emma@mail.com', '0605050505')

On met .c pour dire à l'engine qu'il doit entrer dans la colonne spécifique.

In [99]:
with engine.connect() as connection:
    result1=connection.execute(select(destinations).where(destinations.c.price_per_person > 100))
    for row in result1:
        print(row)

(2, 'New York', 'USA', 500.0)
(3, 'Tokyo', 'Japan', 800.0)
(4, 'Sydney', 'Australia', 600.0)
(5, 'Cape Town', 'South Africa', 700.0)
(6, 'Paris', 'France', 200.0)
(7, 'New York', 'USA', 500.0)
(8, 'Tokyo', 'Japan', 800.0)
(9, 'Sydney', 'Australia', 600.0)
(10, 'Cape Town', 'South Africa', 700.0)
(11, 'Paris', 'France', 200.0)
(12, 'New York', 'USA', 500.0)
(13, 'Tokyo', 'Japan', 800.0)
(14, 'Sydney', 'Australia', 600.0)
(15, 'Cape Town', 'South Africa', 700.0)
(16, 'Paris', 'France', 200.0)
(17, 'New York', 'USA', 500.0)
(18, 'Tokyo', 'Japan', 800.0)
(19, 'Sydney', 'Australia', 600.0)
(20, 'Cape Town', 'South Africa', 700.0)
(1, 'Paris', 'France', 162.0)
(21, 'Paris', 'France', 200.0)
(22, 'New York', 'USA', 500.0)
(23, 'Tokyo', 'Japan', 800.0)
(24, 'Sydney', 'Australia', 600.0)
(25, 'Cape Town', 'South Africa', 700.0)
(26, 'Paris', 'France', 200.0)
(27, 'New York', 'USA', 500.0)
(28, 'Tokyo', 'Japan', 800.0)
(29, 'Sydney', 'Australia', 600.0)
(30, 'Cape Town', 'South Africa', 700.0)

## Challenge 6 : Requête avec jointure

Afficher toutes les réservations avec :
Le nom du client

La destination choisie

Le nombre de voyageurs

Le prix par personne

first_name in clients
destination  in destination
travelers count in booking items
price_per_personne in destination

In [109]:
with engine.connect() as conn:
    result2 = conn.execute(
        select(clients.c.first_name, destinations.c.name, booking_items.c.travelers_count, destinations.c.price_per_person)
        .select_from(clients.join(bookings, bookings.c.client_id == clients.c.client_id)
                     .join(booking_items, booking_items.c.booking_id == bookings.c.booking_id)
                     .join(destinations, destinations.c.destination_id == booking_items.c.destination_id))
    )
    for row in result2:
        print(row)

('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)
('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)
('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)
('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)
('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)
('Alice', 'Paris', 2, 145.8)
('David', 'New York', 1, 500.0)
('Claire', 'Tokyo', 4, 800.0)

## Challenge 7 : Mise à jour de données

Mettre à jour l’adresse e-mail d’un client avec un client_id donné.

In [101]:
with engine.begin() as conn:
    result3= update(clients).where(clients.c.client_id==6).values(email="bissam@gmail.com")
    conn.execute(result3)

Réduire de 10 % le prix de toutes les destinations situées dans un pays donné.

In [102]:
with engine.begin() as conn:
    result4= update(destinations).where(destinations.c.destination_id==1).values(price_per_person=destinations.c.price_per_person*0.9)
    conn.execute(result4)

## Challenge 8 : Requêtes d’agrégation

Compter le nombre total de clients.

In [103]:
from sqlalchemy import func
with engine.begin() as conn:
     result5= conn.execute(select(func.count(clients.c.client_id)))
print(f"Le nombre total de clients est : {result5.scalar()}")

Le nombre total de clients est : 30

Afficher la moyenne de prix des destinations.

In [104]:
with engine.begin() as conn:
    result6 = conn.execute(select(func.avg(destinations.c.price_per_person)))
    print(f"La moyenne de prix des destinations est : {result6.scalar()}")

La moyenne de prix des destinations est : 558.1933333333333

Calculer le nombre total de voyageurs (somme de travelers_count) par destination.

In [105]:
with engine.begin() as conn:
    result7=conn.execute(select(destinations.c.name, func.sum(booking_items.c.travelers_count)).join(booking_items, destinations.c.destination_id == booking_items.c.destination_id).group_by(destinations.c.name))
for row in result7:
    print(f"Destination: {row[0]}, Nombre total de voyageurs: {row[1]}")

Destination: Paris, Nombre total de voyageurs: 12
Destination: New York, Nombre total de voyageurs: 6
Destination: Tokyo, Nombre total de voyageurs: 24

## Challenge 9 : Groupement

Lister les destinations qui ont été réservées plus de 2 fois.

In [106]:
with engine.begin() as conn:
    result8=conn.execute(select(destinations.c.name,func.count(booking_items.c.travelers_count)).select_from(destinations.join(booking_items, destinations.c.destination_id == booking_items.c.destination_id)).group_by(destinations.c.destination_id).having(func.count(booking_items.c.travelers_count) > 2))
for row in result8: 
    print(f"Destination: {row[0]}, Reservations > 2: {row[1]}")

Destination: New York, Reservations > 2: 6
Destination: Tokyo, Reservations > 2: 6
Destination: Paris, Reservations > 2: 6

Afficher les clients dont le total de voyageurs dans leurs réservations est supérieur à 5.

In [107]:
with engine.begin() as conn:
    result9=conn.execute(select(clients.c.first_name,func.count(booking_items.c.travelers_count)).select_from(clients.join(bookings, clients.c.client_id == bookings.c.client_id).join(booking_items, bookings.c.booking_id == booking_items.c.booking_id)).group_by(clients.c.first_name).having(func.count(booking_items.c.travelers_count) > 2))
for row in result9:
    print(f"Client: {row[0]}, Nombre de voyageurs: {row[1]}")

Client: David, Nombre de voyageurs: 6
Client: Claire, Nombre de voyageurs: 6
Client: Alice, Nombre de voyageurs: 6