## Contexte : Gestion d’un Restaurant

importation des bibliothèques

In [10]:
import sqlalchemy as sa
import psycopg2 as pg 
from dotenv import load_dotenv
import os   
from sqlalchemy import create_engine , text
from sqlalchemy import Table, Column, Integer, String, Float, DateTime, MetaData, ForeignKey, update,select, desc
from sqlalchemy import insert

charger le fichier .env

In [11]:
load_dotenv(dotenv_path="1.env")

True

URL du database

In [12]:
db_host = os.getenv("db_host")
db_port= os.getenv("db_port")      
db_user = os.getenv("db_user")
db_password = os.getenv("db_password")  
db_name = os.getenv("db_name")
URL_1=f"postgresql+psycopg2://{os.getenv('db_user')}:{os.getenv('db_password')}@localhost:{os.getenv('db_port')}/{os.getenv('db_name')}"

Créer un engine

In [13]:
print("DB utilisée :", os.getenv("db_name"))

DB utilisée : Restau

In [14]:
engine= create_engine(URL_1)

Créer les tables

In [15]:
metadata = MetaData()

categories = Table("categories", metadata,
    Column("id", Integer, primary_key=True),
    Column("nom", String)) 

clients = Table("clients", metadata,
    Column("id", Integer, primary_key=True),
    Column("nom", String),
    Column("email", String))

plats = Table("plats", metadata,
    Column("id", Integer, primary_key=True),
    Column("nom", String),
    Column("prix", Float),
    Column("description", String),
    Column("categorie_id", Integer, ForeignKey("categories.id")))
commandes = Table("commandes", metadata,
    Column("id", Integer, primary_key=True),    
    Column("client_id", Integer, ForeignKey("clients.id")),
    Column("date_commande", DateTime),
    Column("total", Float))
commande_plats= Table("commande_plats", metadata,
    Column("id", Integer, primary_key=True),
    Column("commande_id", Integer, ForeignKey("commandes.id")),
    Column("plat_id", Integer, ForeignKey("plats.id")),
    Column("quantite", Integer))

metadata.create_all(engine)

Inserer les données

In [16]:
with engine.begin() as conn:
    conn.execute(insert(categories), [
        {"nom": "Entrées"},
        {"nom": "Plat principal"},
        {"nom": "Dessert"},
        {"nom": "Boisson"}
    ])
    conn.execute(insert(clients), [ 
        {"nom": "Amine Lahmidi", "email":"amine@example.com"},
        {"nom":"Sara Benali", "email":"sara.b@example.com"},
        {"nom":"Youssef El Khalfi", "email":"youssef.k@example.com"}
    ])
    conn.execute(insert(plats), [
        {"nom": "Salade César", "prix": 45, "description": "Salade avec poulet", "categorie_id": 1},
        {"nom": "Soupe de légumes", "prix": 30, "description": "Soupe chaude de saison", "categorie_id": 1},
        {"nom": "Steak frites", "prix": 90, "description": "Viande grillée et frites", "categorie_id": 2},
        {"nom": "Pizza Margherita", "prix": 70, "description": "Pizza tomate & mozzarella", "categorie_id": 2},
        {"nom": "Tiramisu", "prix": 35, "description": "Dessert italien", "categorie_id": 3},
        {"nom": "Glace 2 boules", "prix": 25, "description": "Glace au choix", "categorie_id": 3},
        {"nom": "Coca-Cola", "prix": 15, "description": "Boisson gazeuse", "categorie_id": 4},
        {"nom": "Eau minérale", "prix": 10, "description": "Eau plate ou gazeuse", "categorie_id": 4}
    ])
    conn.execute(insert(commandes), [
        {"client_id": 1, "date_commande": "	2025-07-07 12:30:00	", "total": 120},
        {"client_id": 2, "date_commande": "	2025-07-07 13:00:00", "total": 85},
        {"client_id": 1, "date_commande": "	2025-07-08 19:45:00", "total": 150}
    ])

    conn.execute(insert(commande_plats), [  
         {"commande_id": 1, "plat_id": 1, "quantite": 1},
        {"commande_id": 1, "plat_id": 3, "quantite": 1},
        {"commande_id": 1, "plat_id": 7, "quantite": 2},
        {"commande_id": 2, "plat_id": 2, "quantite": 1},
        {"commande_id": 2, "plat_id": 4, "quantite": 1},
        {"commande_id": 2, "plat_id": 8, "quantite": 1},
        {"commande_id": 3, "plat_id": 3, "quantite": 1},
        {"commande_id": 3, "plat_id": 5, "quantite": 1},
        {"commande_id": 3, "plat_id": 7, "quantite": 1}
    ])

Lister tous les plats triés par prix décroissant.

In [17]:
with engine.begin() as conn:   
    r1=conn.execute(select(plats.c.nom, plats.c.prix).order_by(desc(plats.c.prix)))
    for row in r1:
        print(row)

('Steak frites', 90.0)
('Steak frites', 90.0)
('Pizza Margherita', 70.0)
('Pizza Margherita', 70.0)
('Salade César', 45.0)
('Salade César', 45.0)
('Tiramisu', 35.0)
('Tiramisu', 35.0)
('Soupe de légumes', 30.0)
('Soupe de légumes', 30.0)
('Glace 2 boules', 25.0)
('Glace 2 boules', 25.0)
('Coca-Cola', 15.0)
('Coca-Cola', 15.0)
('Eau minérale', 10.0)
('Eau minérale', 10.0)

Lister tous les plats dont le prix est compris entre 30 et 80.

In [22]:
with engine.begin() as conn:
    r2=conn.execute(select(plats.c.nom, plats.c.prix).where(plats.c.prix.between(50,80)).order_by(plats.c.prix))
    for row in r2:
        print(row)

('Pizza Margherita', 70.0)
('Pizza Margherita', 70.0)

Afficher les clients dont le nom commence par "S".